# Server Port
PORT=3000

# SMTP Email Configuration (Google SMTP with App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=leduykhang25012005@gmail.com
SMTP_PASS=bppc twet oqss bisr

# Notification Settings
ADMIN_EMAIL=hello@mconic.vn
SENDER_NAME="MCONIC Event Agency"

# Google Sheets Configuration
# (Make sure to place your google-credentials.json in the project root)
GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB_NAME=Sheet1


